node_modules/
dist/
.vite/
*.tsbuildinfo
vite.config.ts.timestamp-*.mjs
.pnp.*
.yarn/*
!.yarn/releases/
!.yarn/plugins/
!.yarn/sdks/
!.yarn/versions/

.env
.env.*
!.env.example

*.log
.DS_Store

coverage/
